<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="R5R_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <R5R_Downloader.Properties.Settings>
      <setting name="DownloadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxTotalConnections" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="MaxNewConnections" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PeersFromTracker" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="HandshakeTimeout" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="PieceTimeout" serializeAs="String">
        <value>5500</value>
      </setting>
      <setting name="MetadataTimeout" serializeAs="String">
        <value>1900</value>
      </setting>
    </R5R_Downloader.Properties.Settings>
  </userSettings>
</configuration>